# Python files
*.pyc

# Eclispe PyCharm projects.
.idea/
.project
.pydevproject

# Project documentations.
doc/

# Nohup log file.
nohup.out
*.log
*.bak

# Wiki repo.
wiki/

# Static.
static/

.DS_Store

db.sqlite3
migrations
